body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Crimson Text', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2a131c;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #dceed1), to(#87b38d));
  background: linear-gradient(#dceed1 50%, #87b38d);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2a131c;
}

nav {
  height: 60vh;
  background: center/cover url(assets/lotus.jpg);
  background-position-y: 48%;
  position: relative;
}

#toggle {
  display: none;
  position: relative;
  bottom: 2.8em;
  right: 2.9em;
}

.m-nav {
  display: none;
  text-align: center;
  position: relative;
  bottom: 2em;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  line-height: 2.5em;
  background: #2a131c;
}

#toggle:checked ~ .m-nav {
  display: block;
}

.mob-links {
  display: block;
  color: #d793ba;
  width: 100%;
  border-bottom: 2px solid #81325d;
}

.jumbo {
  margin: 0 3em;
}

.line, .sub-line {
  height: 10px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#81325d), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #81325d, rgba(255, 255, 255, 0));
}

.sub-line {
  width: 70%;
  margin: 0 auto;
}

.owner {
  font-size: 2.3em;
  margin: 1em 3em 5px 3em;
  color: #87b38d;
}

.headline {
  font-family: 'great vibes', cursive;
  font-size: 4em;
  text-align: center;
  color: #6b6765;
  margin: .3em;
  text-shadow: 1px 3px 5px gray;
}

.logo {
  position: absolute;
  bottom: -2.3em;
  margin: 0 1em;
  height: 20vh;
  display: inline-block;
  z-index: 5;
  border-radius: 100%;
}

.flex-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 0;
  height: 45px;
  margin: 0;
  padding: 0 3em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d793ba;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
}

.flex-nav .nav-links {
  padding: 0 .9em;
  margin: 0 1em;
  display: inline-block;
  color: #81325d;
  text-shadow: 0 0 5px white;
  font-weight: 700;
  font-size: 1.3em;
}

.flex-nav .nav-links:hover {
  -webkit-transition: .3s;
  transition: .3s;
  scale: 1.1;
  font-size: 1.3em;
  color: #2a131c;
}

.flex-nav .nav-social {
  padding: .5em;
  margin: .5em;
  color: white;
  display: inline-block;
}

.flex-nav .nav-social:hover {
  text-shadow: 0 0 3px white;
  scale: 1.2;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobile .fa-bars {
  display: none;
  position: relative;
  bottom: 1.4em;
  padding: .2em .5em;
  display: none;
  color: #81325d;
  cursor: pointer;
}

.massages {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (80px)[6] 1fr;
  -ms-grid-columns: 2fr (1fr)[4];
      grid-template: repeat(6, 80px) 1fr/2fr repeat(4, 1fr);
  height: 10%;
  grid-auto-flow: column;
  width: 50%;
  padding: 1em;
  margin: 2em auto;
}

.massages p {
  font-size: 1.3em;
  padding: .4em;
  text-align: center;
}

.massages > :nth-child(even) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#a6c7ab), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #a6c7ab, rgba(255, 255, 255, 0));
  color: #81325d;
}

.massages img {
  color: #87b38d;
}

.massages h1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.massages > * {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-column: 1 / -1;
  -ms-grid-columns: 6fr (1fr)[4];
      grid-template-columns: 6fr repeat(4, 1fr);
  place-items: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.massages .madero {
  margin-top: 1em;
  -ms-grid-columns: 3fr (1fr)[3];
      grid-template-columns: 3fr repeat(3, 1fr);
  place-items: center;
}

.massages .madero :first-child {
  font-size: 1.2em;
}

.massages .madero > :nth-child(4n+1) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.massages .madero .purp {
  color: #81325d;
}

.massages .madero .box-head {
  text-align: center;
}

.row p {
  white-space: nowrap;
}

@media (max-width: 576px) {
  nav {
    height: 200px;
  }
  nav .flex-nav .nav-links {
    display: none;
  }
  .mobile .fa-bars {
    display: block;
  }
}

@media (max-width: 767px) {
  nav {
    background-position: center;
  }
  nav .logo {
    display: none;
  }
  nav .flex-nav {
    padding: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .flex-nav .nav-links {
    padding: .2em;
    margin: 0;
  }
  .massages {
    margin: 1em;
    width: 90%;
    font-size: .8em;
  }
  .massages h2 {
    font-size: 1.2em;
  }
}

@media (max-width: 991px) {
  nav .flex-nav {
    padding: 0;
  }
  nav .flex-nav .nav-links {
    margin: .3em;
  }
}
/*# sourceMappingURL=home.css.map */