:root {
  --english: "en";
  --spanish: "es";
}

/* Hide All Elements With Language Attribute */
html body p:lang(var(--english)),
html body p:lang(var(--spanish)) {
  display: none;
}

/* Enable Elements That Are English */
html:lang(var(--english)) p:lang(var(--english)) {
  display: initial;
}

/* Enable Elements That Are Spanish */
html:lang(var(--spanish)) p:lang(var(--spanish)) {
  display: initial;
}
