body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 3em 0;
  font-family: 'Crimson Text', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #2a131c;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #dceed1), to(#87b38d));
  background: linear-gradient(#dceed1 50%, #87b38d);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2a131c;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #2a131c;
  text-align: center;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

footer .social-links {
  color: white;
  margin: 0 2em;
  padding: 1em;
  white-space: nowrap;
}

main {
  padding: 3em 1em;
}

.massages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 1.4em;
  font-family: 'Caladea', serif;
}

.massages h1 {
  font-family: 'Crimson Text', serif;
  display: block;
  font-size: 3em;
  color: #81325d;
  margin: 0 auto;
}

.massages > h2 {
  margin: 1em 4em;
  font-size: 1.2em;
  font-weight: normal;
  line-height: 1.3em;
}

.massages > h2 ul {
  list-style-type: disc;
}

span {
  font-style: italic;
}

.massage-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3em auto;
}

.massage-box img {
  margin: 1em;
  min-width: 400px;
  height: 300px;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 2em gray;
          box-shadow: 0 0 2em gray;
  -o-object-fit: cover;
     object-fit: cover;
}

.massage-box .massage-text {
  padding: 0;
}

.massage-box .massage-text h3 {
  color: #81325d;
  text-align: center;
  font-size: 2em;
  padding: 0;
  margin: .4em;
}

.massage-box .massage-text p {
  padding: .5em;
  font-size: 1.1em;
  margin: 0;
}

nav {
  height: 50vh;
  background: center/cover url(../assets/lotus.jpg);
  background-position: center;
  position: relative;
}

#toggle {
  display: none;
  position: relative;
  bottom: 5em;
  left: 1em;
}

.m-nav {
  display: none;
  text-align: center;
  position: relative;
  bottom: 2em;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
  line-height: 2.5em;
  background: #2a131c;
}

#toggle:checked ~ .m-nav {
  display: block;
}

.mob-links {
  display: block;
  color: #d793ba;
  width: 100%;
  border-bottom: 2px solid #81325d;
}

.jumbo {
  margin: 0 3em;
}

.line, .sub-line {
  height: 10px;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#81325d), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #81325d, rgba(255, 255, 255, 0));
}

.sub-line {
  width: 70%;
  margin: 0 auto;
}

.owner {
  font-size: 2.3em;
  margin: 1em 3em 5px 3em;
  color: #87b38d;
}

.headline {
  font-family: 'great vibes', cursive;
  font-size: 4em;
  text-align: center;
  color: #6b6765;
  margin: .3em;
  text-shadow: 1px 3px 5px gray;
}

.logo {
  position: absolute;
  bottom: -2.3em;
  margin: 0 1em;
  height: 20vh;
  display: inline-block;
  z-index: 5;
  border-radius: 100%;
}

.flex-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  left: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 0;
  height: 45px;
  margin: 0;
  padding: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #d793ba;
  -webkit-box-shadow: 0 3px 10px gray;
          box-shadow: 0 3px 10px gray;
}

.flex-nav .nav-links {
  margin: 0 1.5em;
  display: inline-block;
  color: #81325d;
  text-shadow: 0 0 5px white;
  font-weight: 700;
  font-size: 1.3em;
}

.flex-nav .nav-links:hover {
  -webkit-transition: .3s;
  transition: .3s;
  scale: 1.1;
  font-size: 1.3em;
  color: #2a131c;
}

.mobile {
  height: 0;
}

.mobile .fa-bars {
  display: none;
  position: relative;
  bottom: 1.4em;
  padding: .2em .5em;
  display: none;
  color: #81325d;
  cursor: pointer;
}

.adress {
  line-height: 1.4em;
}

.adress ul {
  padding: 0 1.8em;
  margin: 0;
}

.adress h2 {
  margin: 0;
  padding: .5em;
}

.reviews {
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
  width: 214.75px;
  text-align: center;
  margin: 5em auto;
}

.prices {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (80px)[6] 1fr;
  -ms-grid-columns: 2fr (1fr)[4];
      grid-template: repeat(6, 80px) 1fr/2fr repeat(4, 1fr);
  height: 10%;
  grid-auto-flow: column;
  width: 50%;
  padding: 1em;
  margin: 2em auto;
}

.prices p {
  font-size: 1.3em;
  padding: .4em;
  text-align: center;
}

.prices > :nth-child(even) {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(#a6c7ab), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #a6c7ab, rgba(255, 255, 255, 0));
  color: #81325d;
}

.prices img {
  color: #87b38d;
}

.prices h1 {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  width: 100%;
}

.prices > * {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-column: 1 / -1;
  -ms-grid-columns: 6fr (1fr)[4];
      grid-template-columns: 6fr repeat(4, 1fr);
  place-items: start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.prices .madero {
  margin-top: 1em;
  -ms-grid-columns: 3fr (1fr)[3];
      grid-template-columns: 3fr repeat(3, 1fr);
  place-items: center;
}

.prices .madero :first-child {
  font-size: 1.2em;
}

.prices .madero > :nth-child(4n+1) {
  -ms-grid-column-align: start;
      justify-self: start;
}

.prices .madero .purp {
  color: #81325d;
}

.prices .madero .box-head {
  text-align: center;
}

.row p {
  white-space: nowrap;
}

.details {
  float: left;
  margin: 3em 1em 2em 1em;
  text-align: justify;
  text-justify: inter-word;
}

.details h2 {
  margin-bottom: 0;
}

.details ul {
  margin: 0;
  padding: .3em;
}

.about-me {
  max-width: 500px;
  font-family: 'Caladea', serif;
  font-size: 1.3em;
}

.about-me p {
  margin: .3em;
}

.address {
  padding: 2em 0;
  color: #2a131c;
}

.frame-box {
  position: relative;
  left: 10%;
  overflow: hidden;
  padding-top: 56.25%;
}

iframe {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  border: 0;
}

.book {
  color: #f42272 !important;
  font-size: 1.4em !important;
}

.yoga {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.yoga h2 {
  margin: 0;
  display: block;
  text-align: center;
  color: #81325d;
  font-size: 3em;
}

.yoga h3 {
  font-family: 'Caladea', serif;
  font-size: 1em;
  color: #81325d;
}

.yoga ul {
  padding: 0 1em;
}

.yoga p, .yoga li {
  font-size: 1.2em;
  font-family: 'Caladea', serif;
  list-style-type: disc;
  max-width: 700px;
  text-align: justify;
  text-justify: inter-word;
}

@media (max-width: 1060px) {
  nav .flex-nav .nav-links {
    margin: .6em;
  }
}

@media (max-width: 767px) {
  nav {
    height: 200px;
  }
  nav .logo {
    right: 0;
    margin: 0;
  }
  nav .flex-nav .nav-links {
    display: none;
  }
  .about-me {
    max-width: 90%;
  }
  .owner {
    margin: .5em auto;
  }
  .headline {
    font-size: 3em;
  }
  .mobile .fa-bars {
    display: block;
    width: 20px;
  }
  .prices {
    margin: 2em 1em;
    width: 90%;
    font-size: .8em;
  }
  .prices h2 {
    font-size: 1.2em;
  }
  .details {
    float: none;
    margin: 0;
  }
  iframe {
    height: 100%;
  }
  .massages h2 {
    margin: .5em;
  }
  .massage-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .massage-box img {
    min-width: 0;
    width: 100%;
    margin: 0;
  }
  .massage-box .massage-text h3 {
    margin: 1em;
  }
  .massage-box .massage-text p {
    padding: 0;
  }
}

@media (max-width: 500px) {
  .jumbo {
    margin: 0 auto;
  }
  .headline {
    font-size: 2.4em;
  }
  .owner {
    margin: .3em;
  }
  .frame-box {
    left: 0;
  }
  iframe {
    width: 100%;
  }
  .about-me {
    max-width: 100%;
  }
  .prices .madero .box-title {
    font-size: .9em;
    text-align: start;
  }
  .massages h2 {
    margin: .3em 0;
  }
  .massages ul {
    padding: .6em;
  }
  footer .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .social .social-links {
    margin: 0;
  }
}
/*# sourceMappingURL=home.css.map */